/* Stili globali */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #e996db;
    color: #ffffff;
    padding: 10px 20px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #000000;
    text-decoration: none;
}

main {
    padding: 20px;
}

footer {
    background-color: #e996db;
    color: #000000;
    text-align: center;
    padding: 10px 0;
}
