@charset "UTF-8";
/* Header Menu */

.header{
    background-color: hsl(314, 83%, 47%);
	z-index: 9999;
	position:fixed;
    top:0; 
    left:0;
	align-items: center;
    width: 100%;
  }
  .header__content{max-width: 1200px;width:100%; display: flex;justify-content: space-between;align-items: center;
	margin:auto;}
  .header__logo{margin-right: auto;}
  .header__menu{padding-bottom: auto;margin-bottom: 0;}
  .header__menu li{display: inline-block;}
  .header__menu li a{color:#000000;display: block;padding: 20px;font-size: 20px;text-decoration: none}


  @media (max-width: 768px) {
    .header__menu{
      position: absolute;
      top:50px;
      background-color:hsl(314, 83%, 47%)(306, 79%, 48%);
      width: 100%;
      height: 100vh;
      height: 0vh;
      overflow: hidden;
      transition: all 1s cubic-bezier(.215, .61, .355, 1);
    }
    .header__menu li{width: 100%;}
    .menu-open .header__menu{height: 100vh;padding: 3%;
    }

    .icon-hamburger{height: 50px;width: 50px;margin-left: 20px;padding-top: 5px;}
    .icon-hamburger span{height: 1px; width: 30px;background: #fff;position: relative;display: block;margin-top: 12px;transition: all 0.2s cubic-bezier(.215, .61, .355, 1);}
    
    .menu-open .icon-hamburger span:nth-child(1){transform: rotate(45deg) translateY(9px);}
    .menu-open .icon-hamburger span:nth-child(2){transform: rotate(-45deg) translateY(-9px);}

    .header__icons{display: flex;width: 80px;}

  }