@charset "UTF-8";
/* CSS Document */
/*navigation*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #e042e6;
  }
  
  li {
    float: left;
  }
  li a {
    display: block;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  li a:hover:not(.active) {
    background-color: #ffbef7;
  }
  /* Hero Section */
  .hero-image {
	background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url("progetto/heroimage.jpg");
    height:700px;
	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;
  	position: relative;
}

